/*
* @Author: wlyer
* @Date:   2017-10-26 22:31:03
* @Last Modified by:   wlyer
* @Last Modified time: 2017-10-26 23:23:10
*/
/*导航菜单*/
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
    color: #888;
}
.nav-side .nav-item.active .link{
    color: #c60023;
}
/*右侧内容区*/
.content.with-nav{
    float: left;
    width: 950px;
}