/*
* @Author: wlyer
* @Date:   2017-10-26 21:38:43
* @Last Modified by:   wlyer
* @Last Modified time: 2017-10-26 22:00:33
*/
/*通用头部导航*/
.header .logo{
    position: absolute;
    left: 60px;
    top: 34px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
}
.header .search-con{
    padding: 40px 0 30px 250px;
}

.header .search-con .search-input{
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;/*去除输入框默认外框*/
}
.header .search-con .search-btn{
    position: absolute;/*去除按钮和前面input框之间的间距*/
    height: 44px;
}





