<div class="footer">
    <div class="w">
        <div class="links">
            <!-- 友情链接 -->
            <a class="link" href="http://www.baidu.com">百度</a> |
            <a class="link" href="http://www.baidu.com">百度</a> |
            <a class="link" href="http://www.baidu.com">百度</a> |
            <a class="link" href="http://www.baidu.com">百度</a> |
        </div>
        <p class="copyright">
            Copyright © 2017 mmall All Right Reserved
        </p>
    </div>
</div>

<!--因为一般jQuery脚本放到最后，所以放在footer里面-->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>